@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --blue-color: #0f4392;
  --light-blue-color: #add8e6;
  --red-color: #dd1717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.nav-links {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
}

.nav-links a {
  padding: 2px 7px;
  color: #6a6a6a;
  font-weight: 400;
  text-decoration: none;

  transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #2a2a2a;
}

.home-links {
  padding: 5px 20px;
  margin-bottom: 0.5rem;
}

h1,
h2 {
  margin: 0.7rem 0;
}

h3 {
  margin-bottom: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

form button,
.add-btn,
.home-links a,
#download-button {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  width: 100px;
  height: 40px;
  text-decoration: none;
  border: none;
  border-radius: 5px;

  transition: background-color 0.3s ease;
}
form button:hover,
.add-btn:hover,
.home-links a:hover,
#download-button:hover {
  background-color: #0056b3;
}

input[type="email"],
input[type="password"] {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  transition: all 0.3s ease-in-out;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
  outline: none;
}

.items-list {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  /* max-width: 500px; */
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

ul li {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 5px;
}

.home-links a,
#download-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rename-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;

  transition: background-color 0.2s ease;
}

.add-btn {
  width: 120px;
  margin-bottom: 1rem;
}

.rename-btn {
  color: var(--blue-color);
}

.delete-btn {
  color: var(--red-color);
}

.errors-list li {
  border: 1px solid var(--red-color);
}

.file-meta {
  font-size: 12px;
  font-weight: 200;
}

.file-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

#download-button {
  margin-bottom: 1rem;
}

.share-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-header:hover {
  color: #6a6a6a;
}

.share-section h2 {
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

#shareForm {
  display: flex;
  flex-direction: row;
}

#shareForm button {
  margin-top: 0px;
  font-size: 14px;
  width: 120px;
  background-color: #6a6a6a;
}

#shareForm button:hover {
  background-color: #2a2a2a;
}

.share-section #activeShares h3 {
  margin-bottom: 10px;
}

#shareArrow {
  margin-top: 5px;
  margin-left: 5px;
}
.arrow-rotated {
  transform: rotate(180deg);
}
